BasedOnStyle: LLVM
UseTab: Never
PointerAlignment: Left
AllowAllParametersOfDeclarationOnNextLine: false
AlignAfterOpenBracket: DontAlign
ContinuationIndentWidth: 2
IndentWidth: 2

StatementMacros:
 - CreateTestHook
 - Id
 - IdImpl
 - GenericVal_ErrorCode
 - GenericValImpl_ErrorCode
 - GenericType_C_Handle
 - GenericTypeImpl_C_Handle
 - UToStr
 - SToStr
 - BToStr
 - ToStrFormatWrap
 - Add
 - Sub
 - Div
 - Mult
 - AddSafeS
 - AddSafeU
 - SubSafeS
 - SubSafeU
 - MultSafeS
 - MultSafeU
 - DivSafeS
 - DivSafeU
